<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/providers/guardar}" th:object="${proveedor}" method="post">
    <label>Nombre:</label>
    <input type="text" th:field="*{name}"/> <span th:errors="*{name}"></span><br>

    <label>Teléfono:</label>
    <input type="text" th:field="*{phoneNumber}"/> <span th:errors="*{phoneNumber}"></span><br>

    <label>Email:</label>
    <input type="email" th:field="*{email}"/> <span th:errors="*{email}"></span><br>

    <label>RUC:</label>
    <input type="text" th:field="*{ruc}"/> <span th:errors="*{ruc}"></span><br>

    <label>Equipamiento:</label><br>
    <div th:each="tipo : ${tipos}">
        <input type="checkbox" th:value="${tipo}" th:field="*{equipmentTypes}"/>
        <span th:text="${tipo.name}"></span>
    </div>
    <span th:errors="*{equipmentTypes}"></span><br>

    <button type="submit">Guardar</button>
</form>


</body>
</html>